#container{
    width: 450px;
    height: 550px;
    margin: auto;
    margin-top:100px;
    background: none;
    border-style: solid;
    border-color: rgb(208, 218, 218);
    border-radius: 10px;
    border-width: thin;
    box-shadow: rgb(197, 230, 220) 0px 0px 6px ;
}
